@import "../../App.scss";
.s-t{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    
    padding: 10px;
    height: auto;
    @media screen and (max-width: 768px) {
      width: 90%;
      }}